@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

body {
  background-color: #ffffff !important;
   padding:1rem;
   color: #000000 !important;
   min-height: 100vh;
   margin: 0;

   
}
NavBar{
  
}
